

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.header {
  margin-top:30px;
}

@media (min-width: 768px) {

  .hero-container {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 90px;
  }

  .hero-wording {
    max-width: 44%;
    text-align: center;
    margin: 0 auto;
  }

  .application-icons {
    margin-top: 90px;
    padding-bottom: 80px;
    display:flex;
    justify-content:center;
  }

  .application-icons > div {
    width: 20%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .programmes-wrapper {
    display: flex;
    justify-content: center;
  }

  #programme-box-2 {
    margin-left: 60px;
  }

}

@media (max-width: 768px) {

  .hero-container {
    margin-top: 40px;
    text-align: center;
  }

  .socials {
    display: none;
  }

  .footer-links, .footer-text {
    margin-bottom: 30px;
  }

  .footer-links li {
    margin-left: -40px;
  }

  .application-icons {
    margin-top: 45px;
    padding-bottom: 40px;
  }

  .application-icons > div {
    width: 80% !important;
    margin: 0 auto 60px;
  }

  .programme-box {
    text-align: center;
    margin: 0 auto;
    width: 400px;
  }

  .programmes-wrapper {
    display: block;
  }

  #programme-box-2 {
    margin-top: 40px;
  }

  .team-twitter: {
    display: none;
  }

  .team-box {
    height: 250px;
  }
}

/* padders */


.pad-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.footer-logo {
  margin-bottom: 15px;
}


body {

}

a {
    text-decoration: none !important;
}

.col-half-offset{
  margin-left:4.166666667%
}

.navbar-brand {
 padding: 12px 50px;
}

/* center stuff */

.col-centered{
    float: none;
    margin: 0 auto;
}

/* font styling */
@font-face {
    font-family: gotham-medium;
    src: url(../fonts/gotham-medium.otf);
}

@font-face {
    font-family: gotham-book;
    src: url(../fonts/gotham-book.otf);
}

h1 {
  font-family: gotham-medium;
  font-size: 2.5em;
  color: #fff;
  letter-spacing: 1px;
}

h2, h3, .application-header, .general-header {
  font-family: gotham-medium;
  font-size: 1.43em;
  color: #282827;
  letter-spacing: 1px;
}

.general-header {
  font-family: gotham-book;
  font-size: 20px;
  color: #282827;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.faq-header-no-margin {
  font-family: gotham-medium;
  font-size: 23px;
  color: #282827;
  letter-spacing: 1px;
}

.faq-header {
  margin-top: 50px;
  font-family: gotham-medium;
  font-size: 23px;
  color: #282827;
  letter-spacing: 1px;
}

.faq-text {
  font-family: gotham-book;
  font-size: 16px;
  color: #282827;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.faq-links {
  list-style: none;
}

.faq-links li {
  margin-bottom: 15px;
}

.faq-links a {
  font-family: gotham-book;
  font-size: 16px;
  color: #79579A;
  text-decoration: underline;
  letter-spacing: 1px;
}

label {
  font-family: gotham-book;
  font-size: 16px;
  color: #282827;
  letter-spacing: 1px;
}

.contact-form {
  margin: 30px 0 30px 0;
}

h4, .medium-16-black {
  font-family: gotham-medium;
  font-size: 16px;
  color: #282827;
}

.application-stage, .info, .programme-box p {
  font-family: gotham-book;
  font-size: 16px;
  color: #282827;
  text-align: center;
}

.programme-box p {
  text-align: left;
  padding: 15px 35px 35px 35px;
}

.programme-info-explainer {
  font-family: gotham-book;
  font-size: 16px;
  color: #282827;
  margin-top: 35px;
  text-align: center;
}

.hero-offer p {
  font-family: gotham-medium;
  font-size: 16px;
  color: #fff;
}

.hero-apply p {
  font-family: gotham-medium;
  font-size: 14px;
  color: #fff;
}

/* link styles */
.page-link {
  color: #79579A;
  text-decoration: underline;
}

.site-apply-link {
  color: #fff !important;
  text-decoration: none;
}

.site-apply-link:hover {
  color: #fff !important;
  text-decoration: none;
}

/* Page Background Colors */
.homepage {
  background-color: #79579A;
}

/* navigation styles */
.nav-link {
  color: #fff;
  font-family: gotham-medium;
}

.apply-nav-link {
  text-decoration: underline;
}

/* hero sections at the top of pages */


.hero-wording {
  max-width: 60%;
  text-align: center;
  margin: 0 auto;
}

.hero-offer {
  margin-top: 35px;
  margin-bottom: 35px;
}

.hero-apply {
  width: 180px;
  height: 40px;
  background-color: #282827;
  box-sizing: border-box;
  margin: 0 auto;
}

.hero-apply p {
  padding-top: 9px;
}

.hero-apply p.two {
  padding-top: 9px;
  padding-left: 50px;
}

.hero-apply p.one {
  padding-left: 39px;
}

h2.application {
  text-align: center;
}



.application-header {
  margin-top: 30px;
  text-align: center;
}

.align-center{
  text-align: center;
}

.programme-box {
  background-color: #F0F0F0;
  padding: 35px 0 35px 0;
  width: 460px;
}



.programme-info {
  margin-top: 35px;
}

.section-lead {
  margin-bottom: 35px;
}

.team-box {
  background-color: #89C2BB;
  height: 310px;
  width: 156px;
  display: inline-table;
  margin: 0 30px 35px; 25px;
  text-align: left;
  box-sizing: border-box;
}

.team-box-gabi {
  height: 300px;
}

.team-boxes:last-child {
  margin-right: 0px;
}

.team-member-info {
  padding: 10px;
}

.team-twitter {
  bottom: 35px;
  position: absolute;
}
/* image styles */

.float-image {
  z-index: 2;
}

/* sections */

.separator {
  width: 80%;
  color: #282827;
  background-color: #fff;
}

#hero {
  height: 600px;
}

#non-index-hero {
  height: 175px;
}

#homepage-main-content {
  background-color: #fff;
  padding-top: 250px;
}

#subpage-main-content {
  background-color: #fff;
  padding-top: 50px;
}

#programmes, #team {
  background-color: #fff;
  padding-top: 35px;
}

.end-section {
  padding-bottom: 100px;f
}

.add-space-above {
  margin-top: 35px;
}

footer {
  background-color: #D85754;
  padding: 35px 0 35px 0;
}

.footer-links li {
  list-style: none;
}

.footer-links li a {
  text-decoration: underline;
  color: #fff;
  font-family: gotham-medium;
  font-size: 12px;
}

p.footer-text {
  color: #fff;
  font-family: gotham-medium;
  font-size: 12px;

}
