<footer>
  <div class="row pad-15">
    <div class="col-md-2 col-md-offset-2">
      <img src="/img/masthead_logo.png" class="footer-logo"/>
    </div>
    <div class="col-md-2">
      <p class="footer-text">Ignite is a distributed startup support and investment network based in the UK. Originally founded in Newcastle in 2011, Ignite has supported over 100 startups and continually invests in over 25 companies per year.<br /><br />Apply today to find out if you could be one of them.</p>
    </div>
    <div class="col-md-2">
      <ul class="footer-links">
        <li><a href="/#programmes">Programmes</a></li>
        <!--<li><a href="#">Alumni</a></li>-->
        <li><a href="/#team">Team</a></li>
        <li><a href="/officehours">Office Hours</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="https://blog.ignite.io">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
        <!--<li><a href="#">Code of conduct</a></li>-->
      </ul>
    </div>
    <div class="col-md-2">
      <p class="footer-text">&copy; 2017 Ignite100 Accelerator Corp Ltd</p>
      <p class="footer-text">Registered office:<br />Campus North<br />Sunco House<br />5 Carliol Square<br />Newcastle<br />NE1 6UF</p>
    </div>
  </div>
</footer>
</div> <!-- /container -->
