<div class="header clearfix background">
  <nav class="navbar">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img alt="Ignite" src="/img/masthead_logo.png">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#" class="nav-link">Programmes</a></li>
          <!--<li><a href="#" class="nav-link">Alumni</a></li>-->
          <li><a href="#" class="nav-link">Team</a></li>
          <li><a href="/officehours" class="nav-link">Office Hours</a></li>
          <li><a href="#" class="nav-link">FAQ</a></li>
          <li><a href="https://blog.ignite.io" class="nav-link">Blog</a></li>
          <li><a href="/contact" class="nav-link">Contact</a></li>
          <li><a href="#" class="nav-link apply-nav-link">Apply to join</a></li>
          <li><a href="#" class="nav-link"><img alt="Facebook" src="/img/facebook-icon.png"></a></li>
          <li><a href="#" class="nav-link"><img alt="Twitter" src="/img/twitter-icon.png"></a></a></li>
          <li><a href="#" class="nav-link"><img alt="Instagram" src="/img/instagram-icon.png"></a></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
</div>
