<div class="header clearfix background">
  <div class="container">
    <nav class="navbar">
        <img src="/img/masthead_logo.png" class="masthead-logo"/></a>
        <ul class="nav navbar-nav">
            <li><a href="/#programmes" class="nav-link">Programmes</a></li>
            <!--<li><a href="#" class="nav-link">Alumni</a></li>-->
            <li><a href="/#team" class="nav-link">Team</a></li>
            <li><a href="/officehours" class="nav-link">Office Hours</a></li>
            <li><a href="/faq" class="nav-link">FAQ</a></li>
            <li><a href="https://blog.ignite.io" class="nav-link">Blog</a></li>
            <li><a href="/contact" class="nav-link">Contact</a></li>
            <li><a href="https://f6s.com/igniteacceleratorapplication/connect" class="nav-link apply-nav-link">Apply to join</a></li>
            <li class="socials"><a href="https://www.facebook.com/igniteaccelerator" class="nav-link"><img alt="Facebook" src="/img/facebook-icon.png"></a></li>
            <li class="socials"><a href="https://www.twitter.com/igniteaccel" class="nav-link"><img alt="Twitter" src="/img/twitter-icon.png"></a></a></li>
            <li class="socials"><a href="https://www.instagram.com/igniteaccelerator" class="nav-link"><img alt="Instagram" src="/img/instagram-icon.png"></a></a></li>
        </ul>
    </nav>
  </div>
</div>
